/* TokenCoinFlipGame.css */

@font-face {
  font-family: Dreamscapesans;
  src: url(../assets/font/Dreamscape\ Sans.ttf);
}

.token-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/images/back.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Dreamscapesans;
}

.button-container {
  margin-top: 20px;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.25);
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container a.BuyVRT {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049;
}

.button-container a.BuyVRT:hover {
  background-color: #0056b3;
}

.account-info {
  margin-top: 20px;
  text-align: center;
}

.account-title {
  font-size: 20px;
}

.balance {
  margin-top: 10px;
}

.loading {
  color: #ccc;
}